<!-- an034 -->
{{yield}}

<h1>Login page</h1>

<form {{action 'authenticate' on='submit'}}>
  <label for="identification">E-Mail</label>
  {{input id='identification' placeholder='Enter E-Mail' value=identification}}<br>
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}<br>
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
