<!-- an034 -->
{{yield}}

<h1>Einloggen</h1>
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">E-Mail</label>
  {{input id='identification' placeholder='E-Mail' value=identification}}<br>
  <label for="password">Passwort</label>
  {{input id='password' placeholder='Passwort' type='password' value=password}}<br><br>
  <button type="submit">Einloggen</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
