{{yield}}
<article class="product-container" itemscope itemtype="http://schema.org/Product">
    <a href="#" title="#" itemprop="url">
        <img class="product-image" src={{product.url}} alt={{product.name}} itemprop="image" />
      <h1 class="product-title" itemprop="name">{{product.name}}</h1>
      <div class="product-description" itemprop="description">
          <p>{{product.description}}</p>
      </div>
      <div class="rating" itemscope itemtype="http://schema.org/AggregateRating">
          <p>Rating: <span itemprop="ratingValue">{{product.rating}}</span>/<span itemprop="bestRating">5</span></p>
      </div>
      <div class="offer" itemscope itemtype="http://schema.org/Offer">
          <span class="price" itemprop="price">{{product.price}}</span>
          <span class="availability" itemprop="availability"><br>In stock!</span>
      </div>
    </a>
</article>
