<!-- an034, ca033 -->

{{yield}}

<h1>Registrieren</h1>

<form class="register-form" {{action 'register' on='submit'}}>
  <label for="name">Name</label>
  {{input id='name' placeholder='Name' value=name required=true}}<br>
  <label for="surname">Surname</label>
  {{input id='surname' placeholder='Nachname' value=surname required=true}}<br>
  <label for="address">Addresse</label>
  {{textarea id='address' placeholder='Addresse' value=address required=true}}<br>
  <label for="email">E-Mail</label>
  {{input id='email' placeholder='E-Mail' value=email required=true}}<br>
  <label for="password">Passwort</label>
  {{input id='password' placeholder='Passwort' type='password' value=password required=true}}<br>
  <label for="re-password">Passwort erneut eingeben</label>
  {{input id='re-password' placeholder='Passwort erneut eingeben' type='password' value=re-password required=true}}<br><br>
  <button type="submit">Registrieren</button>
</form>

<div id="error"></div>
