{{yield}}

<h2>Register</h2>

<form class="" action="javascript:void(0)" method="post">
  <label for="identification">Name</label>
  {{input id='name' placeholder='Enter Name' value=name required=true}}<br>
  <label for="identification">Surname</label>
  {{input id='surname' placeholder='Enter Surname' value=surname required=true}}<br>
  <label for="identification">E-Mail</label>
  {{input id='email' placeholder='Enter E-Mail' value=email required=true}}<br>
  <label for="password">Enter Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password required=true}}<br>
  <label for="password">Re-Enter Password</label>
  {{input id='password' placeholder='Re-Enter Password' type='password' value=password required=true}}<br>
  <button type="submit">Register</button>
</form> 
