<!-- df029 -->

<h1>Cart</h1>
<table>
  <tr><th>Artikel</th><th>Preis</th><th>Stückzahl</th></tr>
  <!-- Go through all the items and allow them to add or reduce items-->
{{#each model.items as |item|}}
  <tr><td>{{item.name}}</td><td>{{item.price}}</td><td>{{item.quantity}}</td><td><button class="add" type="button" name="add" {{action "addToCart" item}}>+</button><button class="remove" type="button" name="remove" {{action "removeFromCart" item}}>-</button></td></tr>
{{/each}}
  <tr><td>Summe:</td><td>{{model.totalPrice}}</td><td></td><td></td></tr>
</table>
{{#cart-order model=model}}
{{/cart-order}}
